.clients {
    border-bottom: $border-bottom;
    padding: 50px 70px 130px 70px;
        @media (max-width:1200px) {
        padding: 30px 0 30px 0;
        }

    .clients__title{
        margin-bottom: 50px;
     }
    .clients__row {
        display: grid;
        grid-template-columns: 1fr;
            @media (min-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
            }
            @media (max-width:1200px) {
                margin:0 30px;
            }
        grid-gap: 1px;
        background-color: black;
    }
}
        .client-card {
        background-color: $main-bg-color;
        padding: 30px 50px 90px 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
            @media (max-width:1200px) {
                padding: 40px 0px;
            }
        }
            .client-card__title {
                font-family: $font-main;
                font-size: 36px;
                font-weight: 800;
                line-height: 44px;
                text-align: left;
            }
            .client-card__description {
                font-family: $font-accent;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
            }
            .client-card__user-profile {
                display: flex;
                align-items: center;
                gap: 10px;
            }
                .client-card__user-img {
                    border-radius: 50%
                }
                .client-card__user-details {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                .client-card__user-name {
                    font-weight: 600;
                }
