.contact {
    border-bottom: $border-bottom;
    padding:50px  70px;
    @media (max-width: 1200px) {
        padding: 30px 30px 50px;
    }
    @media (max-width: 768px) {
        padding: 30px 20px 50px;
    }
        &__inner{
            @include flexJC;
            @media (max-width:1200px) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }
}
            .contact__title {
                font-family: $font-accent;
                font-size: 150px;
                font-weight: 300;
                line-height: 179px;
                @media (max-width:768px) {
                    font-size: 80px;
                    font-weight: 300;
                }
            }
            .contact__brand-story {
                display: flex;
                flex-direction: column;
                gap: 30px;
                max-width: 870px;
                @media (max-width:1200px) {
                    text-align: center;
                }
            }
                .contact__brand-story-title {
                    font-family:$font-accent;
                    font-size: 64px;
                    line-height: 75px;
                    font-weight:bold;
                    @media (max-width:768px) {
                        font-size: 40px;
                        line-height: 58px;
                    }
                }
                .contact__brand-story-description {
                    font-family:$font-accent;
                    font-size: 34px;
                    line-height: 40px;
                    @media (max-width:768px) {
                        font-size: 30px;
                        line-height: 35px;
                    }
                }
            