.selected-work {
    padding: 70px 70px 100px;
    border-bottom: $border-bottom;
    @media (max-width: 1200px) {
        padding: 30px;
    }
    @media (max-width: 768px) {
        padding: $main-media-pd-mob;
    }
    &__btn {
        display: block;
        margin: 70px auto 0;
        padding: 15px 60px;
        height: 52px;
        border: none;
        border-radius: $radius-50;
        background-color: $white-color;
        cursor: pointer;

        color: $dark-color-text;
        font-family: $font-main;
        font-size: 18px;
        font-weight: 500;
        @media (max-width: 768px) {
            width: 100%;
            margin: 40px auto 0;
        }
    }
}