.our-team {
    padding: 50px 70px;
    border-bottom: $border-bottom;
    @media (max-width: 1200px) {
        padding: 30px 30px 50px;
    }
    @media (max-width: 768px) {
        padding: 30px 20px 50px;
    }
    &__cards {
        margin-top: 50px;
        @include flexWrap;
        gap: 60px 40px;
        @media (max-width: 768px) {
            gap: 40px;
        }
    }
    &__item {
        max-width: 410px;
        @media (max-width: 1200px) {
            margin: 0 auto;
            max-width: 340px;
        }
        @media (max-width: 768px) {
            margin: 0 auto;
            max-width: 100%;
        }
    }
    &__employee-name {
        display: block;
        color: $dark-grey-color;
        font-family: $font-main;
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
        @media (max-width: 1200px) {
            font-size: 28px;
        }
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    &__descr {
        display: block;
        margin-top: 5px;
        color: $dark-grey-color;
        font-family: $font-main;
        font-size: 20px;
        font-weight: 500;
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    &__img {
        display: block;
        margin-top: 15px;
        filter: grayscale(100%);
        img {
            max-width: 100%;
            object-fit: cover;
        }
    }
    &__social {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
        @media (max-width: 768px) {
            justify-content: center;
        }
    }
    &__info {
        padding: 178px 0;
        @media (max-width: 1200px) {
            padding: 0;
        }
        @media (max-width: 768px) {
            margin: 0 auto;
        }
    }
    &__join {
        color: $dark-grey-color;
        font-family: $font-main;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    &__subtitle {
        margin-top: 15px;
        color: $dark-grey-color;
        font-family: $font-main;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        @media (max-width: 1200px) {
            font-size: 50px;
        }
        @media (max-width: 768px) {
            font-size: 34px;
            text-align: center;
        }
    }
}