.what-i-do {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: $border-bottom;
    @media (max-width: 1200px) {
        flex-wrap: wrap;
    }
    &::before {
        content: '';
        width: 100%;
        height: 1137px;
        background-image: url("../../../images/what-i-do-bgd.jpg");
        background-size: cover;
        @media (max-width:1200px) {
            height: 991px;
        }
        @media (max-width:768px) {
           height: 478px;
        }
    }
}
  .what-i-do__wrapper {
    padding: 70px 70px 70px 111px;
    @media (max-width:1200px) {
        padding: 40px 30px;
    }
    @media (max-width:768px) {
        padding: 20px 20px;
    }
  }
        .what-i-do__title {
            font-size: 149px;
            font-weight: 300;
            line-height: 173px;
            margin-bottom: 100px;
            @media (max-width:1280px) {
                font-size: 140px;
            @media (max-width:1200px) {
                margin-bottom: 40px;
                text-align: center;}
            @media (max-width:768px) {
                font-size: 80px;   
                }
            }
        }
        .what-i-do__list {
            list-style-type: none;
            counter-reset: custom-counter 0;
        }
            .what-i-do__item {
                padding-bottom: 39px;
                border-bottom: 1px solid #000000;
                margin-top: 40px;
                &:last-child{
                    border: none;
                    padding-bottom: 0;}
                &:first-child{
                    margin: 0;}
            }
                    .what-i-do__list-number {
                        font-weight:lighter;
                    }
                    .what-i-do__list-title {
                        font-family: $font-accent;
                        font-weight: 600;
                        font-size: 44px;
                        line-height: 48px;
                        @media (max-width:768px) {
                            font-size: 35px;
                        }
                        &::before {
                            content: counter(custom-counter);
                            counter-increment: custom-counter;
                            font-weight: 100;
                            font-size: 44px;
                            margin-right: 10px;
                            @media (max-width:768px) {
                                font-size: 35px;
                            }
                        }
                        &:last-child {
                            border: none;
                            padding-bottom: 0;
                        }
                    
                        &:first-child {
                            margin-top: 0; 
                        }
                    }
                    .what-i-do__list-paragraph {
                        font-family: $font-main;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 28px;
                        margin-top: 10px;
                    }