.first-page {
    border-bottom: $border-bottom;
    &__img {
        display: block;
        width: 100%;
        object-fit: cover;
        img {
            width: 100%;
        }
        &--mobile-vis {
            display: none;
        }
        @media (max-width: 768px) {
            &--mobile-hide {
                display: none;
            }
            &--mobile-vis {
                display: block;
            }
        }
    }
    &__wrapper {
        padding: 70px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: $border-bottom;
        @media (max-width: 1200px) {
            flex-wrap: wrap;
            padding: 0;
        }
    }
    &__descr {
        max-width: 1462px;
        padding: $padding-left-right;
        color: $dark-color-text;
        font-family: $font-main;
        font-size: 62px;
        font-weight: 300;
        span {
            font-weight: 800;
        }
        @media (max-width: 1200px) {
            padding: 30px;
            font-size: 52px;
        }
        @media (max-width: 768px) {
            padding: $main-media-pd-mob;
            font-size: 30px;
        }
    }
    &__social {
        width: 485px;
        padding: 60px 70px 60px 0px;
        background-color: $dark-color-text;
        @media (max-width: 1200px) {
            width: 100%;
            padding: 40px 30px 40px 0;
        }
        &-inner {
            display: flex;
            justify-content: flex-end;
            gap: 20px;
            margin-top: 30px;
        }
        span {
            display: block;
            color: $white-color;
            text-align: right;
            font-family: $font-main;
            font-size: 32px;
            font-weight: 500;
            text-transform: uppercase;
            @media (max-width: 1200px) {
                font-size: 28px;
            }
        }
        img {
            width: 50px;
            height: 50px;
        }
    }
    &__box {
        @include flexJC;
        gap: 40px;
        padding: $main-padding;
        align-items: center;
        @media (max-width: 1200px) {
            justify-content: center;
            flex-wrap: wrap;
            padding: $main-media-padding;
            gap: 20px;
        }
        @media (max-width: 768px) {
            padding: 30px 20px;
        }
        &-item {
            @include flexCenter;
            padding: 15px 40px;
            background-color: $white-color;
            border-radius: 50px;
        }
    }
}