body {
  background-color: $main-bg-color;
}

.container{
    width: 1780px;
    padding: 0 10px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      width: 100%;
      padding: 0;
    }
    
}

a {
  text-decoration: none;
  color: white;
}
