//fonts
$font-main: 'Gilroy', sans-serif;
$font-accent: 'Inter', sans-serif;


// paddings

$main-padding: 70px;
$padding-left-right: 0 70px;
$main-media-padding: 40px 30px;
$main-media-pd-mob: 30px 20px;

//colors

$main-bg-color: #F5F3EA;
$white-color: #FFF;
$dark-color: #000;
$dark-color-text: #252525;
$dark-grey-color: #333;

// border

$radius-50: 50px;

$border-bottom: 1px solid $dark-color-text;