/* INTER FONTS */

@font-face {
    font-family: 'Inter', sans-serif;
    font-display: swap;
    src: url('../../fonts/Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter', sans-serif;
    font-display: swap;
    src: url('../../fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter', sans-serif;
    font-display: swap;
    src: url('../../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/* GILROY FONTS */

@font-face {
    font-family: 'Gilroy', sans-serif;
    font-display: swap;
    src: url('../../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy', sans-serif;
    font-display: swap;
    src: url('../../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy', sans-serif;
    font-display: swap;
    src: url('../../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy', sans-serif;
    font-display: swap;
    src: url('../../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy', sans-serif;
    font-display: swap;
    src: url('../../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy', sans-serif;
    font-display: swap;
    src: url('../../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}