@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexJC {
    display: flex;
    justify-content: space-between;
}

@mixin flexWrap {
    display: flex;
    flex-wrap: wrap;
}
@mixin btnStyle{
    background-color: $dark-color-text;
    border-radius: $radius-50;
    cursor: pointer;

    color: $white-color;
    font-family: $font-main;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    &::after {
        content: url(../../../images/icons/arrow-right.svg);
        height: 30px;
    }
    height: 53px;
    gap: 10px;
}