.footer {
}
    .footer__inner{
        @include flexJC;
        align-items: center;
        font-size: 18px;
        padding: 25px 0;
        border-bottom: $border-bottom;
        @media (max-width:768px) {
            flex-direction: column;
            text-align: center;
            gap: 20px;
        }
    }
        .footer__copy span{
            font-weight: bold;
        }
        .first-page__link {
            padding-right: 10px;
            &:last-child{
                padding: 0;
            }
        }