.main-header {
    width: 100%;
    padding: 40px 70px;
    @media (max-width: 1200px) {
        padding: $main-media-padding;
    }
    @media (max-width: 768px) {
        padding: 20px;
    }
    &__wrapper {
        @include flexJC;
        @media (max-width: 768px) {
            align-items: center;
        }
    }
    &__logo {
        @include flexCenter;
        align-items: none;
        gap: 10px;

        color: $dark-color;
        text-align: center;
        font-family: $font-main;
        font-size: 35px;
        font-weight: 800;
        letter-spacing: -0.7px;
        @media (max-width: 768px) {
            span {
                display: none;
            }
            b {
                display: none;
            }
            sup {
                display: none;
            }
        }
        b {
            font-size: 35px;
            font-weight: 500;
            text-transform: uppercase;
            
        }
        sup {
            font-size: 25px;
            font-weight: 300;
        }
        
    }
    &__item {
        color: $dark-color-text;
        text-align: center;
        font-family: $font-main;
        font-size: 25px;
        font-weight: 600;
    }
    &__title {
        margin-top: 60px;
        color: $dark-color-text;
        text-align: center;
        font-family: $font-main;
        font-size: 150px;
        font-weight: 600;
        text-transform: uppercase;
        span {
            display: block;
            font-weight: 300;
            text-transform: capitalize;
        }
        @media (max-width: 1200px) {
            font-size: 80px;
        }
        @media (max-width: 768px) {
            font-size: 42px;
        }
    }
    &__scroller {
        display: block;
        margin-top: 30px;
        text-align: center;
    }
}