.btn {
    @include btnStyle;
    position: absolute;
    right: 0;
    bottom: 0;
    @include flexCenter;
    width: 162px;
    padding: 10px 30px;
    &_team {
        position: relative;
        width: max-content;
        margin-top: 15px;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}
.contact__brand-story-btn {
    width: 195px;
    display: flex;
    @include btnStyle;
    align-items: center;
    justify-content: center;
    @media (max-width:1200px) {
        margin: auto;
      }
    @media (max-width:768px) {
      width: 100%;
    }
}