.title {
    color: $dark-color-text;
    text-align: center;
    font-family: $font-main;
    font-size: 190px;
    font-weight: 300;
    letter-spacing: 8.48px;
    text-transform: uppercase;
    @media (max-width: 1200px) {
        font-size: 113px;
        letter-spacing: 6px;
    }
    @media (max-width: 768px) {
        font-size: 46px;
        letter-spacing: 3px;
    }
}