.work-cards {
    @include flexWrap;
    gap: 70px 40px;
    margin-top: 50px;
    @media (max-width: 1200px) {
        margin-top: 30px;
        gap: 30px;
    }
    &__item {
        position: relative;
        width: 560px;
        min-height: 567px;
        display: flex;
        flex-direction: column;
        @media (max-width: 1200px) {
            width: 100%;
            &--order-3 {
                order: 3;
                min-height: 209px;
            }
            &--order-1 {
                order: 1;
            }
            &--order-2 {
                order: 2;
            }
            &--order-4 {
                order: 4;
            }
            &--order-5 {
                order: 5;
            }
            &--order-6 {
                order: 6;
                min-height: 209px;
            }
        }
        @media (max-width: 768px) {
            min-height: 418px;
            &--order-3 {
                min-height: 200px;
            }
            &--order-6 {
                min-height: 200px;
            }
            
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width: 768px) {
            gap: 20px;
        }
    }
    &__subtitle {
        color: $dark-color;
        font-family: $font-main;
        font-size: 40px;
        font-weight: 700;
        line-height: 44px;
        text-transform: uppercase;
    }
    &__inner {
        display: flex;
        gap: 30px;
        @media (max-width: 768px) {
            gap: 15px;
        }
    }
    &__link {
        padding: 15px 30px;
        color: $dark-color-text;
        font-family: $font-main;
        font-size: 18px;
        font-weight: 500;
        border-radius: $radius-50;
        background-color: $white-color;
        @media (max-width: 768px) {
            font-size: 15px;
        }
    }
    &__img {
        object-fit: cover;
        &--tablet-vis {
            display: none;
        }
        &--mobile-vis {
            display: none;
        }
        @media (max-width: 1200px) {
            &--hide {
                display: none;
            }
            &--tablet-vis {
                display: block;
            }
        }
        @media (max-width: 768px) {
            &--tablet-vis {
                display: none;
            }
            &--mobile-vis {
                display: block;
            }
        }
    }
}